/* Utilities********
********************* */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blacktxt-color: rgb(35, 39, 42);
    --whitetext-color: rgb(255, 255, 255);
    --bgwave-color: rgb(246,246,246);
    --btnblue-color: rgb(142,161,225);
}

body{
    min-width: 1440px;
    font-family: 'Montserrat', arial, sans-serif;
}

img{
    max-width: 100%;
}

header{
    position: relative;
    height: 620px;
}

.size{  
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display:table;
    clear: both;
}

/* ********************* */

/* BARRA DI NAVIGAZIONE */

.navigation>img{
    float: left;
}

.navigation{
    padding: 2rem;
}

.navigation>.button_white{
    float: right;
}


/* INSERIMENTO BANNER JUMBO */
.jumbo{
    height: 100vh;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}


/* Settaggi anchorTAG */
a:not(.button_black,.button_white,.button_blue) {
    text-decoration: none;
    text-align: center;
    color: var(--whitetext-color);
    vertical-align: middle;
    position: relative;
    left: 15%;
    padding: 15px;
}

a:not(.button_black,.button_white, .button_blue):hover{
    text-decoration: underline;
}

.navigation>a{
    text-align: center;
}

/* Colori per i button */
.button_black{
    color: var(--whitetext-color);
    background-color: var(--blacktxt-color);
    border-radius: 28px;
    font-size: 16px;
    padding: 15px 32px;
    font-weight: bold;
    text-decoration: none;
}


.button_white {
    text-decoration: none;
    color: var(--blacktxt-color);
    background-color: var(--whitetext-color);
    border-radius: 28px;
    font-size: 14px;
    padding: 11px 20px;
    font-weight: bold;
}

.button_blue{
    color: var(--whitetext-color);
    background-color: var(--btnblue-color);
    border-radius: 28px;
    font-size: 16px;
    padding: 15px 32px;
    font-weight: bold;
    text-decoration: none;
    line-height: 8;
}


/* Ombratura al passaggio del mouse sui btn */
.btn:hover{
    box-shadow: 0 8px 15px rgb(0 0 0 / 40%);
}

/* Impostazione del primo testo centrale al JUMBO */

.center_txt{
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
    line-height: 20px;
}

/* Abbellimento Testo e didascalia */

.hero_text{
    width: 50%;
    margin: 0 auto;
    color: var(--whitetext-color);
    
}

.hero_text>a{
    font-size: 20px; 
    padding: 10px;
    margin: 1rem;      
}

.hero_text>div{
    line-height: 1.625;
    font-size: 20px; 
    padding: 10px;
    margin-bottom: 2rem;
}


.hero_text>h1{
    font-size: 40px; 
    margin: 1rem; 
    font-weight: bold; 
    font-weight: 800;
    line-height: 120%;
}

/* ************************** */


/* Seconda viewport 
********************/

.col_sx{
    float: left;
    width: 70%;
    margin-top: 50px;
}

.col_dx{
    float: right;
    width: 30%;
    vertical-align: baseline;
    margin-top: 100px;
    
}

h2{
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}

.description{
    font-size: 20px;
    margin-top: 24px;
    line-height: 1.625;
}
    

/* Terza viewport 
*******************/

/* Colore di sfondo grigio */
.bg_wave{
    background-color: var(--bgwave-color); 
    margin-bottom: -5px;   
}

.divider_top{
    color: var(--bgwave-color);
    margin-bottom: -5px;
}

.divider_bottom{
    transform: rotate(180deg);
    color: var(--bgwave-color);
}

.col_sx_invert{
    float: left;
    width: 30%;
    vertical-align: baseline;
    margin-top: 100px;
}

.col_dx_invert{
    float: right;
    width: 70%;
    margin-top: 50px;
    
}

.row{
    text-align: center;
} 


.final_txt{
    position: relative;
}

.final_txt>h3{
    position: absolute;
    left: 30%;
    top: 80%;
    font-size: 27px;
    font-weight: 600;
    line-height: 80%;
} 


/* FOOTER********
*******************/

.site_footer{
    height: 100vh;
    background-color: var(--blacktxt-color);
}


.row_footer{
    padding-top: 5rem;
    
}

.col_big>h2{
    color: rgb(114, 137, 218);
    font-weight: 800;
    line-height: 95%;
}

.italy{
    padding: px;
}

.italy>img{
    line-height: 95%;
    width: 20px;
}

.italy>span{
    color: var(--whitetext-color);
    font-weight: 800;
    line-height: 95%;
}

.col_25>h5 {
    color: var(--btnblue-color);
}

li{
    padding: 1rem;
}


.col_25{
    width: 40%;
    float: left;
}

.col_75{
    width: 15%;
    float: left;
    color: var(--whitetext-color);
}

